<header id="myHeader">
    <div class="main-haeader">
        <div class="navbar">
            <div class="container row">
                <div class="col-5 col-md-3 col-lg-2">
                    <a href="{{ site.url }}" class="logo"><img src="{{ TimberImage(options_logo_website).src }}" alt="logo website"></a>
                </div>
                <div class="col-7">
                    <div class="menu">
                        <ul class="menu-list">
                        {% for item in options_menu_group %}
                            <li class="menu-list__item">
                                <a href="{% if item.menu_link == 'out' %}{{ item.link_external }}{% elseif item.menu_link == 'in' %}{{ TimberPost(item.menu_page).link }}{% else %}ambbet.com{% endif %}" {% if item.menu_link != 'in' %}target="_blank"{% endif %} class="menu_check {% if item.menu_link == 'sport' %}sport-item{% endif %}">
                                    <div class="menu__icon"><img src="{{ TimberImage(item.menu_icon).src }}"></div>
                                    {{ item.menu_text }}
                                    {% if item.sub_menu == true %}
                                        <i class="i-arrow-down"></i>
                                    {% endif %}
                                </a>
                            {% if item.sub_menu == true %}
                                <div class="sub-menu">
                                    <ul class="nav-drop">
                                        {% for child in item.submenu_group %}
                                            <li class="nav-drop-item">
                                                <a href="{{ child.submenu_link }}">{{ child.submenu_text }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="button-container">
                        <a href="{{ site.url }}/login" class="btn login btn-check">
                            <i class="i-login"></i>
                            <span>{{ __('เข้าสู่ระบบ', 'template')  }}</span>
                        </a>
                        <a href="{{ site.url }}/register" class="btn join-now btn-check">
                            <i class="i-user"></i>
                            <span>{{ __('สมัครสมาชิก', 'template')  }}</span>
                            </a>
                        <div class="btn logout" onclick="window.location.href='';sessionStorage.clear();">
                            <i class="i-login"></i>
                            <span>{{ __('ออกจากระบบ', 'template')  }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-hamburger">
            <span class="menu-hamburger__line"></span>
            <span class="menu-hamburger__line"></span>
            <span class="menu-hamburger__line"></span>
        </div>
    </div>
    <div class="mobile-menu">
        <nav class="nav js-nav">
            <ul class="nav__list js-nav__list">
               {% for item in options_menu_group %}
                    <li class="nav__item {% if item.sub_menu == true %}has-child{% endif %}">
                    <a href="{% if item.menu_link == 'out' %}{{ item.link_external }}{% elseif item.menu_link == 'in' %}{{ TimberPost(item.menu_page).link }}{% else %}ambbet.com{% endif %}" {% if item.menu_link != 'in' %}target="_blank"{% endif %} class="nav__link {% if item.menu_link == 'sport' %}sport-item{% endif %}">{{ item.menu_text }}</a>
                    {% if item.sub_menu == true %}
                    <i class="i-arrow-down"></i>
                    <div class="sub-menu">
                        <ul class="nav-drop">
                            {% for child in item.submenu_group %}
                                <li class="nav-drop-item">
                                    <a href="{{ child.submenu_link }}">{{ child.submenu_text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
             <div class="button-container">
                    <a href="{{ site.url }}/login" class="btn login btn-check">
                        <i class="i-login"></i>
                        <span>{{ __('เข้าสู่ระบบ', 'template')  }}</span>
                    </a>
                    <a href="{{ site.url }}/register" class="btn join-now btn-check">
                        <i class="i-user"></i>
                        <span>{{ __('สมัครสมาชิก', 'template')  }}</span>
                        </a>
                    <div class="btn logout" onclick="window.location.href='';sessionStorage.clear();">
                        <i class="i-login"></i>
                        <span>{{ __('ออกจากระบบ', 'template')  }}</span>
                    </div>
                </div>
            </div>
	    </nav>
    </div>
</header>
