{% extends 'base.twig' %}
{% block content %}

<section class="sec-announcement">
    <div class="box-announcement">
        <div class="container">
            <div class="box-announcement_text"><marquee>{{ options_h_announcement }}</marquee></div>
        </div>
    </div>
</section>
<section class="sec-page-content" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        {{ options_pro_content }}
    </div>
</section>
<section class="sec-promotion">
    <div class="container">
        <div class="slot-wrapper" data-aos="fade-up" data-aos-duration="1000">
            <div class="row">
                {% for box in options_pro_slot %}
                    {% if box.pro_slot_hide != true %}
                    <div class="col-12 col-md-6">
                        <div class="box-promotion">
                            <div class="box-promotion__image">
                                <img src="{{ TimberImage(box.pro_slot_image).src }}">
                            </div>
                            <div class="box-promotion__title"><h3>{{ box.pro_slot_subject }}</h3></div>
                            <div class="box-promotion__condition">
                                <div class="subject">เงื่อนไข</div>
                                <div class="detail">{{ box.pro_slot_condition }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}