{% extends 'base.twig' %}
{% block content %}
<section class="sec-page-content" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        {{ options_casino_content }}
    </div>
</section>

<section class="sec-blockcasino">
    <div class="container">
        <div class="row">
        {% for box in options_casino_block %}
        {% set content = TimberPost(box.casino_block_link) %}
            <div class="col-6 col-md-3">
                <div class="box-allgame" id="{{ content.ID }}" data-aos="fade-up" data-aos-duration="1000">
                    <input type="hidden" value="{{ content.ID }},{{ content.casino_prefix }}" class="getlink"/>
                    {% if box.casino_block_hot == true %} 
                        <div class="box-allgame__hot" style="background-image: url('{{ theme.path }}/images/hot-small.gif');"></div>
                    {% endif %}
                    <div class="box-allgame__logo"><img src="{{ TimberImage(box.casino_block_logo).src }}" alt="c_casinoimage{{loop.index}}"></div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}